<div class="container">

  <h2>Dragón Ball Z</h2>
  <hr>

  <div class="row">
    <div class="col">
      <h3>Listado</h3>
      <ul class="list-group">
        <li class="list-group-item">Killin - 500</li>
        <li class="list-group-item">Goku - 10000</li>
      </ul>

    </div>
    <div class="col">

      <h3>Agregar personaje</h3>
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Nombre personaje</label>
          <input type="text" class="form-control" id="name" placeholder="Ej: Vegeta">
        </div>
        <div class="mb-3">
          <label for="power" class="form-label">Poder</label>
          <input type="number" class="form-control" id="power" placeholder="Ej: 400">
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Agregar</button>
        </div>
      </form>
    </div>
  </div>

</div>
