<h3>Listado</h3>
<ul class="list-group">
  <li
    *ngFor="
      let character of characterList;
      index as i;
      first as isFirst;
      last as isLast;
      even as isEven;
      odd as isOdd;
      count as quantity;
    "
    class="list-group-item"
    [ngClass]="{
      'list-group-item-info': isEven,
      'list-group-item-dark': isLast
    }"
  >
    <!-- <p> -->
      <span class="text-primary">{{ i + 1 }}. </span>
      <span>{{ character.name }} - </span>
      <strong>Power: </strong>
      <span>{{ character.power }}</span>
    <!-- </p> -->
    <!-- <ul>
      <li>Total indice: {{ i }}</li>
      <li>Total indices: {{ quantity }}</li>
      <li>Es el primero: {{ isFirst }}</li>
      <li>Es el último: {{ isLast }}</li>
      <li>Es un elemento par: {{ isEven }}</li>
      <li>Es un elemento impar: {{ isOdd }}</li>
    </ul> -->
  </li>
</ul>
