<div class="container">

  <h2>{{ alterego }}</h2>

  <dl>
    <dt>Nombre:</dt>
    <dd>{{ name }}</dd>
    <dt>Edad:</dt>
    <dd>{{ age }}</dd>
    <dt>Capitalizando:</dt>
    <dd>{{ capilalizeName }}</dd>
    <dt>Método: </dt>
    <dd>{{ getHeroDescription() }}</dd>

  </dl>
  <div class="d-flex gap-2">
    <button
      *ngIf="alterego !== 'Hulk'"
      class="btn btn-primary"
      (click)="changeHero()"
    >Cambiar nombre</button>
    <button
      *ngIf="age !== 45"
      class="btn btn-primary"
      (click)="changeAge()"
    >Cambiar edad</button>
    <button
      class="btn btn-primary"
      (click)="resetData()"
    >Reiniciar</button>
  </div>

</div>

